__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

venv/
env/
ENV/
.venv

uploads/
encrypted/
decrypted/
ipfs_storage/

*.log

.DS_Store
.AppleDouble
.LSOverride

contract_abi.json

node_modules/
