Flask==3.0.0
web3==6.11.3
pycryptodome==3.19.0
requests==2.31.0
python-dotenv==1.0.0
py-solc-x==2.0.2
werkzeug==3.0.1
crypto
Flask==3.0.0
py-solc-x==2.0.2
pycryptodome==3.19.0
python-dotenv==1.0.0
requests==2.31.0
web3==6.11.3
werkzeug==3.0.1
